<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/admin" target="_self">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1 class="font-sans">Recuiter Admin</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a class="font-sans font-bold" routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="System" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/user-management">User management</a>
          </li>
          <li nz-submenu nzOpen nzTitle="Jobs Management" nzIcon="setting">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/admin/jobs/skill-management">Skill management</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/admin/jobs/type-job-management">Types Job management</a>
              </li>
            </ul>
          </li>
        </ul>

      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content overflow-y-scroll">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="px-1 py-2 text-center">Admin template design by Thắng đẹp trai</nz-footer>
  </nz-layout>
</nz-layout>
